<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Читатель</title>
</head>

<h1>Читатель</h1>
<br>

<body>
<h2 th:text="${person.getFullName()} + ', ' + ${person.getBirthday()}"></h2>

<div th:if="${person.getBooks().isEmpty()}">
    <h3>Читатель пока не взял ни одной книги</h3>
</div>
<div th:unless="${person.getBooks().isEmpty()}">
    <h3>Книги</h3>
    <div th:each="book: ${person.getBooks()}">
        <p th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()} "></p>
    </div>
</div>



<br>
<hr>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}" th:text="Редактировать"></a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <button type="submit">Удалить</button>
</form>

</body>
</html>