<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новая книга</title>
</head>
<body>

<h1>Новая книга</h1>
<br>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="name">Введите название книги: </label>
    <input type="text" id="name" name="name" th:field="*{name}">

    <br>

    <label for="author">Введите автора: </label>
    <input type="text" id="author" name="author" value="0" th:field="*{author}">

    <br>

    <label for="year">Введите год: </label>
    <input type="text" id="year" name="year" th:field="*{year}">

    <br>
    <button type="submit">Создать</button>
</form>

</body>
</html>