<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Поиск книги</title>
</head>

<h1>Поиск книги</h1>
<br>

<body>

<form th:method="post" th:action="@{/books/search}" th:object="${book}">
    <label for="name">Введите поисковой запрос: </label>
    <input type="text" id="name" name="name" th:field="*{name}">
    <br>
    <button type="submit">Искать</button>
</form>

<div th:if="${books.isEmpty()}">
    <h3>Книг не найдено</h3>
</div>
<div th:unless="${books.isEmpty()}">
    <div th:each="book: ${books}">
        <h4 th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()} "></h4>
        <div th:if="${book.getOwner() == null}">
            <p>Книга свободна</p>
        </div>
        <div th:unless="${book.getOwner() == null}">
            <p th:text="'Книга сейчас у: ' + ${book.getOwner().getFullName()}"></p>
        </div>
        <hr>
        <br>
    </div>
</div>

</body>
</html>